body {
font-family: 'Fondamento', cursive;
  background-image: url('../image/background_plant.jpg');
  background-size: 100%;
  color: white;
}

header {
	text-align:center;
}


img {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	}

.container {
	margin-bottom: 75px;
}


section {
	margin-top: 70px;

}


a   {
  /* Applies to all unvisited links */
  text-decoration: none;
  color: #FF8000;
}




.bold {
	font-weight: bold;
	text-decoration: underline;
	
}

.btn {
	margin: 5px 4px;
	text-align:center;
}
	
